fastapi
uvicorn[standard]
pydantic>=2.9.2
google-genai
google-cloud-translate
google-cloud-logging
google-cloud-texttospeech
slowapi
python-dotenv
pytest
pytest-asyncio
pytest-cov
pytest-mock
httpx
firebase-admin
groq
